<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>

</head>

<body>
    <div class="inform">
        <div class="city">

            <p>Going to</p>
            <input type="text" id="myCity" value="" placeholder="Miami">
        </div>
        <div class="date">
            <p>Departing</p>
            <input type="date" id="myDate" value="2020-04-01">
        </div>
        <div class="back">
            <p>Returning</p>
            <input type="date" id="backDate" value="2020-04-1">
        </div>

        <div class="isbutton"><input type="submit" id="submit"></div>

    </div>
    <section>
        <div id="insertimage"> Plan your trip now!</div>
        <div id="insertword"></div>
    </section>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>